# Core dependencies
torch
transformers
accelerate
bitsandbytes
sentence-transformers
scikit-learn
huggingface-hub
stix2

# Data processing
numpy
pandas

# Fetching data
requests

# Web server
flask
flask-cors
jinja2