# Core dependencies
torch
transformers
accelerate
sentence-transformers
scikit-learn
huggingface-hub

# Data processing
numpy
pandas

# Fetching data
requests

# Web server
flask
flask-cors
jinja2
